/__pychache__/
/.chainlit/
/.files/
/chroma/
/lancedb/
/RAG_Test/
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/ChainLitProject.iml
/.idea/discord.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/chainlit.md
/test.py
/input/markdown/*
/input/pdfs/*